
<% include partials/header %>
        <div class ="header" style="font-family: Shrikhand">Deltaboard
            <i class="fa fa-superpowers" aria-hidden="true"></i>
        </div>
        <div class="sub-header">The # 1 team workspace environment.</div> 

<% include partials/footer %>

