<% include partials/header %>

    <div style="width: 100%; height: 565px;" id="aww-wrapper">
    <!-- Element in which the whiteboard will be shown
              – modify style as needed -->
    </div>
    <script type="text/javascript">
        var aww = new AwwBoard('#aww-wrapper', {
            /* make sure you're using your own key here */
            apiKey: 'fd862ee8-cb4d-4261-87e5-f1b3ddfb00e5'
        });
</script>
    <script src="https://awwapp.com/static/widget/js/aww.min.js">
    </script>
    <script type="text/javascript">
        var aww = new AwwBoard('#aww-wrapper', {
            /* make sure you're using your own key here */
            apiKey: 'fd862ee8-cb4d-4261-87e5-f1b3ddfb00e5',
            /* put a unique text here */
            boardLink: '7477748'
        });
</script>
<% include partials/footer %>
